.job-card-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
}

.job-card-buttons button {
  width: 4em;
  height: 4em;
  font-size: 0.9em;
  text-align: center; 
  line-height: 4em; 
  display: flex; 

  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
  transition: background-color 0.3s ease;
}

.job-card-buttons button:hover {
  background-color: #0056b3; /* Darker shade when hovering over the button */
}

.job-card {
  background-color: white;
  padding: 0.5em;
  margin: 15px 0px ;
  height: auto;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.job-card:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
  transform: translateY(-5px); /* Slight lift effect on hover */
}

.job-card-body img {
  height: 5em;
  width: 5em;

  object-fit: cover;
}

.jobs-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  padding:1em;
  cursor: pointer;
}


.create-job-button-wrapper {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.job-main-content-wrapper {
  display: flex;
  padding: 0px 15px;
  gap:1em;
}

.company-logo {
  border-radius: 10px;
  width: 10em;
  height: 10em;
  margin-bottom: 10px;
}

.jobs-container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.jobs-container h1 {
  font-size: 4em;
  padding-bottom: 20px;
}


.job-right-div {
  flex: 1;
  min-height: 50vh;
  min-width: 500px;
  height: auto;
  justify-content: space-between;
  gap: 20px;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}


.job-mobile-container{
  display: none;
}

@media only screen and (max-width: 768px) {
  .job-right-div{
    display: none;
  }

  .job-mobile-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin: 0px;
    gap:1em;
  }

  .jobs-body-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #D9D9D9;
    border-radius: 15px;
  }

  .job-main-content-wrapper-mobile {
    display: flex;
    max-width: 400px;
    flex-direction: column;
    gap:1em;
  }

  .jobs-container {
    padding-top: 50px;
  }
} 

@media only screen and (min-width: 769px) {
  .jobs-container {
    display: flex;
    flex-direction: column;
  }
}

.job-card-buttons button {
  width: 4.5em;
  padding: 2em;
}

.job-card-body-flex {
  display: flex;
  margin-top: 1em;
  gap: 1em;
  justify-content: space-between;
}

.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dropdown-toggle {
  width: 100%;
  background-color: #f8f9fa; /* Light gray background for visibility */
  color: #333; /* Default dark text for contrast */
  border: 1px solid #ccc; /* Light border for definition */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */
}

.dropdown-toggle:hover {
  background-color: #575DFB; /* Dark blue background on hover */
  color: #FFFFFF; /* White text on hover for better visibility */
}

.dropdown-menu {
  width: 100%; /* Ensure menu uses the full width of the toggle */
}

.dropdown-item button {
  width: 100%; /* Buttons fill the dropdown item space */
  background-color: transparent; /* Transparent buttons within the dropdown */
  border: none; /* No borders on the buttons to keep it clean */
  color: #007bff; /* Bootstrap primary blue for text to stand out */
  text-align: left; /* Align text to the left for a standard dropdown look */
}

.dropdown-item:hover button {
  color: #FFFFFF; /* White text color on hover for better visibility inside dropdown items */
  background-color: #575DFB; /* Background color change on hover for dropdown items */
}

.dropdown-toggle:focus {
  color: #FFFFFF; /* White text color on hover for better visibility inside dropdown items */
  background-color: #575DFB; /* Background color change on hover for dropdown items */
}