


.job-card-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
}

.job-card-buttons button {
  width: 4em;
  height: 4em;
  font-size: 0.9em;
  text-align: center; 
  line-height: 4em; 
  display: flex; 

  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
  transition: background-color 0.3s ease;
}

.job-card-buttons button:hover {
  background-color: #0056b3; /* Darker shade when hovering over the button */
}

.job-card {
  background-color: white;
  padding: 0.5em;
  margin: 15px 0px ;
  height: auto;
  max-height: 300px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.job-card:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
  transform: translateY(-5px); /* Slight lift effect on hover */
}

.job-card-body img {
  height: 5em;
  width: 5em;

  object-fit: cover;
}

.jobs-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  padding:1em;
  cursor: pointer;
}


.create-job-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.job-main-content-wrapper {
  display: flex;
  padding: 0px 15px;
  gap:1em;
}

.company-logo {
  border-radius: 10px;
  width: 10em;
  height: 10em;
  margin-bottom: 10px;
}

.jobs-container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.jobs-container h1 {
  font-size: 4em;
  padding-bottom: 20px;
}


.job-right-div {
  flex: 1;
  min-height: 50vh;
  height: auto;
  margin-right: 20px;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}


.job-mobile-container{
  display: none;
}

@media only screen and (max-width: 768px) {
  .job-right-div{
    display: none;
  }

  .job-mobile-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin: 0px;
    gap:1em;
  }

  .jobs-body-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #D9D9D9;
    border-radius: 15px;
  }

  .job-main-content-wrapper-mobile {
    display: flex;
    max-width: 400px;
    flex-direction: column;
    gap:1em;
  }

  .jobs-container {
    padding-top: 50px;
  }
} 

@media only screen and (min-width: 769px) {
  .jobs-container {
    display: flex;
    flex-direction: column;
  }
}

.job-card-buttons button {
  width: 4.5em;
  padding: 2em;
}

.job-card-body-flex {
  display: flex;
  margin-top: 1em;
  gap: 1em;
}