.custom-navbar .nav-link, .custom-navbar .navbar-toggler {
  font-size: 1.5rem; /* Increase font size */
  padding: 12px 15px; /* Increase padding */
}

.custom-logo {
  width: auto; /* Adjust width automatically */
  height: 100px; /* New height for the logo */
}

/* Increase spacing between buttons */
.custom-navbar .nav-link {
  margin-right: 20px; /* Adjust the spacing as needed */
  transition: background-color 0.2s ease-in-out; /* For a smooth background color transition */
}

/* Custom effect for the selected (active) button */
/* Increasing specificity by targeting .nav-link within .navbar and then the active class */
.custom-navbar .navbar-nav .nav-link.active {
  background-color: #575DFB; /* Example: Bootstrap primary color */
  color: white; /* Changes text color to white */
  font-weight: bold; /* Makes the text bold */
  border-radius: 5px; /* Adds rounded corners for a button-like appearance */
}